@import url('https://fonts.googleapis.com/css2?family=Sora&display=swap');

*{
    font-family: 'Sora', 'san-serif';
    padding:0;
    margin: 0;
}
.App{   
    background: linear-gradient(to bottom, #ee0654 88%, #ff3300 100%);

}