<!DOCTYPE html>
<html>
<head>
    <meta charset='utf-8'>
    <meta http-equiv='X-UA-Compatible' content='IE=edge'>
    <title>Forgot Password</title>
    <meta name='viewport' content='width=device-width, initial-scale=1'>
    <link rel='stylesheet' type='text/css' media='screen' href='main.css'>
    <script src='main.js'></script>
</head>
<div style="display: flex; width: 500px; height: 200px; border: 1px solid #ccc;margin: 0 auto;flex-direction: column;align-items: center;border-radius: 4px;box-shadow: 0 2px 2px 0 #ccc;">
<div>
    <h3>Provide your email</h3>
   
    <form action="" method="POST">
        <label for="email"> Email</label><br/>
        <input required type="email" name="email" id="email"><br/>
        <input style="margin-top:10px ;" type="submit" value="Submit">

    </form>
</div>
</div>
</body>
</html>