<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Reset password</title>
</head>
<body>
    <div style="display: flex; width: 500px; height: 300px; border: 1px solid #ccc;margin: 0 auto;flex-direction: column;align-items: center;border-radius: 4px;box-shadow: 0 2px 2px 0 #ccc;">
    <h3>Reset password for <%=email%></h3>
    <form action="" method="POST">
        <% if(error){ %>
            <h4 style="color: red; margin-top: -5px; margin-left: 80px; margin-bottom: 10px;"><%=error%></h4>
          <% } else{ %>  
 
         <% } %>
        <label for="password">Password</label><br>
        <input required type="password" name="password" id="password"><br><br>
        <label for="password"> Confirm Password</label><br>
        <input required type="password" name="confirmPassword" id="confirmPassword"><br><br>
        <input style="margin: 0 30px;" type="submit" value="reset password">



    </form>
    </div>
</body>
</html>